global:
  resolve_timeout: 5m

route:
  group_by: ["alertname"]
  group_wait: 10s
  group_interval: 10s
  repeat_interval: 1h
  receiver: "default-receiver"
  routes:
    - receiver: "telegram"
      match:
        severity: "critical"
    - receiver: "email"
      match:
        severity: "warning"
    - receiver: "email"
      match:
        severity: "info"

receivers:
  - name: "default-receiver"
  - name: "telegram"
    telegram_configs:
      - bot_token_file: /run/secrets/telegram_bot_token
        chat_id: -1003253714088
        send_resolved: true
  - name: "email"
    email_configs:
      - from: "alerts@tnfy.link"
        to: "admin@tnfy.link"
        smarthost: "smtp.spaceweb.ru:587"
        auth_username: "alerts@tnfy.link"
        auth_identity: "alerts@tnfy.link"
        auth_password_file: /run/secrets/email_password
        send_resolved: true
